/*INNEHÅLLSFÖRTECKNING:
1. Css-reset
2. Header
3. Text
4. Bilder
5. Main
6. Footer
7. Media queries
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*RESET ENDS HERE*/

html {
  position: relative;
  min-height: 100vh;
}

body {
  color: rgb(20, 20, 20);
  font: 14px Sans-Serif;
   background: rgb(134, 134, 134);
   height: 100%;
}

header {
  background-color: rgb(19, 19, 19);
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
  width: 100%;
}

  
h1 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 3%;
  }

h2 {
  color: #202928;
  font-size: 2.3em;
  padding: 15px;
  }

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.3em;
}

#ny_produkt_container form{
  margin-bottom: 15%;
}

#ny_produkt_container h4 {
  font-size: 1.5rem;
  padding-bottom: 1%;
}

p {
  font-size: 1.2em;
}

table {
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
  background: rgb(190, 190, 190);
  width: 80%;
  margin: auto;
  color: #181818;
  margin-bottom: 7%;
  }

th {
  font-size: 1.8em;
}

td {
  font-size: 1.2em;
}


.loginform {
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
  background: rgb(190, 190, 190);
  text-align: center;
  width: 60%;
  margin: auto; 
}


.ny_medlem_form{
  text-align: center;
}

.ny_medlem_container {
  margin: auto;
  margin-bottom: 5%;
  width: 30%;
}

.tablecontainer {
  width: 70%;
  margin: auto;
}

.container {
  width: 50%;
  height: 80vh;
}


.startcontainer {
  box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);
  background: rgb(190, 190, 190);
  text-align: center;
  width: 30%;
  margin: auto;
  margin-bottom: 3%;
  padding: 1% 3% 1% 3%;
}


.startcontainer h2 {
  border-bottom: 2px solid black;
  border-width: 80%;
}


#tom_korg {
  text-align: center;
  background: rgb(190, 190, 190);
  width: 50%;
}
#varukorg table {
  width: 70%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

header a {
  font-size: 1.5em;
  color: #fff;
}

header a:hover {
  color: #fff;
  text-decoration: none;
}

a {
  font-size: 24px;
  text-decoration: none;
  color:#25b8a4;
}
  
a:hover {
  color:#c6e9e4;
}
